
.weight-list-container {

	box-sizing: border-box;
	
	height: 500px;
	width: 535px;
	
	overflow-y: scroll;

	// padding-block: 1.3em;
	margin-block: 1em;
	
	border: 1px solid black;
	border-radius: 6px;

	background-color: whitesmoke;

	ul {

		display: flex;

		flex-direction: column;

		margin: 0;
		padding: 0;

	}

}


.entry {

	position: relative;

	display: flex;
	flex-direction: column;

	box-sizing: border-box;

	width: 100%;

	height: 150px;

	padding: .7em;
	margin: 0;

	border: 1px solid black;

	background-color: rgb(231, 247, 255);

	&:first-of-type {
		border-top-left-radius: 3px;
		border-top-right-radius: 0;
	}

	* {

		margin: .3em;
		padding: 0;

	}

	.entry-del {

		position: absolute;

		right: .5em;
		top: .1em;

		color: red;
		font-weight: bold;
		font-size: 2rem;

		cursor: pointer;

		transition: 150ms transform ease;

		&:hover {

			transform: scale(1.1, 1.1);

		}

	}

}


