$dark: #16459c;
$primary: #d9d4e9;
$secondary: #db995a;

// ### Global Styles ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ###

html {
	scroll-behavior: smooth;
}

.row {
	display: flex;
	flex-direction: row;

	align-items: center;
	justify-content: center;

	width: 100%;

	margin-block: 1em;
}

.column {
	display: flex;
	flex-direction: column;

	align-items: center;
	justify-content: center;

	width: 100%;

	// margin-block: 1em;
}

.btn {
	display: block;

	background-color: $dark;

	color: white;

	padding-inline: 2.3em;
	padding-block: 0.5em;

	margin-inline: 1em;
	margin-block: 0.3em;

	border: none;
	border-radius: 6px;

	cursor: pointer;

	font-weight: bold;

	transition: 150ms transform ease;

	&:hover {
		transform: translateY(-2px);
	}

	&:active {
		transform: translateY(-1px);
		background-color: #210b7c;
	}
}

.radio-button {
	margin-inline: 1em;
	width: fit-content;

	input {
		margin-right: 0.5em;
	}

	input,
	label {
		cursor: pointer;
	}

	display: flex;

	flex-direction: row;

	align-items: center;
	justify-content: center;
}

.input-field {
	width: 12em;
	height: 30px;

	border: none;
	border-radius: 6px;

	padding-inline: 0.3em;

	&:hover {
		outline: 1px solid #3686e1;
	}
}

// ### Main Container Styles ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ###

.body-wrapper {
	display: grid;

	grid-template-columns: 3fr 2fr;

	width: 1000px;

	margin-block-start: 6em;
	margin-inline: auto;

	justify-content: center;
}

.homepage-container {
	background-color: $primary;

	box-sizing: border-box;

	padding: 3em 2em;

	border-radius: 5px;

	outline: 5px solid $dark;

	// height: 600px;
	height: 100%;
	width: 100%;

	z-index: 3;
}

.about-page-container {
	height: 100vh;

	padding: 0;
	margin: 0;

	align-items: center;
	justify-content: center;
}

// ### Main Container Styles ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ###
.weight-add-menu {
	width: 100%;

	box-sizing: border-box;

	padding: 1em;

	background-color: #dbdbdb;

	border-radius: 6px;
	border: 5px solid #16459c;

	// border-left-width: 0;

	transform-origin: left;
	transform: translateX(-500px);

	transition: 500ms transform ease-out;

	z-index: 2;
}

.slide-from-left {
	transition: 500ms transform ease-out;

	transform: translateX(0px);
}

.add-weight-toggle-button {
	margin-left: auto;

	margin-block: 1em;
}

// ### Misc Styles ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ###

.separator {
	width: 100%;
	// margin-block: 3em;
	border-bottom: 1px solid $dark;
}

// ### Header Styles ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ###

header {
	width: 100%;

	text-align: center;

	padding-bottom: 1em;
}

// ### Weight Form Styles ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ###

input {
	color: black;
	width: 50%;
}

label {
	width: 50%;

	box-sizing: border-box;

	padding-right: 2em;

	text-align: right;

	font-weight: bold;
	// color: orange;
}

// ### Weight Display ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ###

.weight-display {
	margin-block-start: 1em;
	// width: 100%;

	font-size: 1.5rem;
	text-align: center;
}

.date-time-display {
	margin-block-end: 1em;

	font-size: 1.425em;

	div,
	h3,
	span {
		margin-block-start: 0.3em;
	}
}

Link,
a {
	color: black;
	text-decoration: none;

	transition: 150ms transform ease;

	&:hover,
	&:active,
	&:visited {
		color: rgb(0, 28, 119);
		text-decoration: none;
	}

	&:hover {
		transform: scale(1.1, 1.1);
		color: blue;
	}

	&:active {
		color: darkblue;
	}
}
