$dark: #16459c;
$primary: #d9d4e9;
$secondary: #db995a;

// ### Global Styles ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ###

html {
	scroll-behavior: smooth;

	body {
		margin-block: 5em;
	}

}

.row {
	display: flex;
	flex-direction: row;

	align-items: center;
	justify-content: center;

	width: 100%;

	margin-block: 1em;
}

.column {
	display: flex;
	flex-direction: column;

	align-items: center;
	justify-content: center;

	width: 100%;

	// margin-block: 1em;
}

.btn {
	display: block;

	background-color: $dark;

	color: white;

	padding-inline: 2.3em;
	padding-block: 0.5em;

	margin-inline: 1em;
	margin-block: 0.3em;

	border: none;
	border-radius: 6px;

	cursor: pointer;

	font-weight: bold;

	transition: 150ms transform ease;

	&:hover {
		transform: scale(1.05, 1.05);
	}

	&:active {
		transform: scale(1.02, 1.02);
		background-color: #210b7c;
	}
}



input {
	color: black;
	width: 50%;
}

label {
	width: 50%;

	box-sizing: border-box;

	padding-right: 2em;

	text-align: right;

	font-weight: bold;
	
}


Link,
a {
	color: black;
	text-decoration: none;

	transition: 150ms transform ease;

	&:hover,
	&:active,
	&:visited {
		color: rgb(0, 28, 119);
		text-decoration: none;
	}

	&:hover {
		transform: scale(1.1, 1.1);
		color: blue;
	}

	&:active {
		color: darkblue;
	}
}

.body-wrapper {
	display: grid;

	grid-template-columns: 2fr 2fr;

	grid-template-areas: 
	
		"home weight-add-menu"
		"home weight-graph-menu"
	;

	width: 1280px;

	margin-block-start: 6em;
	margin-inline: auto;

	justify-content: center;
}


.separator {
	width: 100%;
	// margin-block: 3em;
	border-bottom: 1px solid $dark;
}


// ### Weight Display ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ###

.weight-display {
	margin-block-start: 1em;
	// width: 100%;

	font-size: 1.5rem;
	text-align: center;
}

.date-time-display {
	margin-block-end: 1em;

	font-size: 1.425em;

	div,
	h3,
	span {
		margin-block-start: 0.3em;
	}
}
